@media screen and (min-width:576px) and (max-width:992px) {
    .banner-container{
        flex-direction: column;
    }
    .banner-right-side,
    .banner-left-side,
    .habit-item
    {
        width: 100%;
    }
    .habit-top-content{
        width: 80%;
    }
    .habit-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .left-inner-content {
        width: 90%;
    }
    .run-right-side img{
        width: 80%;
    }
}





@media screen and (max-width:576px) {
    
    /* manuber style  */
    .hamburger-menu{
        display: block;
    }
    .hamburger-menu i{
        color: white;
    }
    .nav-container>.menu-ber{
        display: none;
    }
    /* banner style  */
    .banner-container,
    .habit-content{
        flex-direction: column;
    }
    .banner-right-side, 
    .habit-top-content,
    .run-left-side,
    .run-right-side,
    .left-inner-content,
    .run-right-side img{
        width: 100%;
    }
    .banner-left-side{
        width: 100%;
    }
    .box-500{
        left: 180px;
        top: 90px;
    }
    .banner-left-side h1 {
        font-size: 2.25rem;
        font-weight: 500;
    }
    .btn-share{
        padding: 15px 30px;
        font-size: 0.8rem;
    }
    .btn-share-1{
        padding: 15px 40px;
        font-size: 0.8rem;
    }
    .box-500 h4{
        font-size: 1.5rem;
    }
    .box-500 p{
        font-size: 0.5rem;
    }
    .box-350 h4{
        font-size: 1rem;
    }
    .box-350 p{
        font-size: 0.7rem;
    }
    /* Change Your Habits */
    .habit-top-content h3{
        font-size: 2.25rem;
    }
    .habit-item {
        width: 100%;
    }

    /* Run an Extra Mile Easily */
    .run-container{
        flex-direction: column;
        width: 90%;
        padding: 0;
    }
    .run-btn{
        margin: 20px auto;
    }

}
    


